@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('../public/fonts/Poppins-Thin.ttf');
  font-family: 'Poppins-Thin';
}
@font-face {
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-family: 'Poppins-Regular';
}
@font-face {
  src: url('../public/fonts/Poppins-Light.ttf');
  font-family: 'Poppins-Light';
}
@font-face {
  src: url('../public/fonts/Poppins-LightItalic.ttf');
  font-family: 'Poppins-LightItalic';
}
@font-face {
  src: url('../public/fonts/Poppins-Medium.ttf');
  font-family: 'Poppins-Medium';
}
@font-face {
  src: url('../public/fonts/Poppins-Bold.ttf');
  font-family: 'Poppins-Bold';
}
@font-face {
  src: url('../public/fonts/Poppins-BoldItalic.ttf');
  font-family: 'Poppins-BoldItalic';
}
@font-face {
  src: url('../public/fonts/Poppins-ExtraBold.ttf');
  font-family: 'Poppins-ExtraBold';
}
@font-face {
  src: url('../public/fonts/Poppins-ExtraBoldItalic.ttf');
  font-family: 'Poppins-ExtraBoldItalic';
}
@font-face {
  src: url('../public/fonts/Poppins-Black.ttf');
  font-family: 'Poppins-Black';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  position: relative;

  font-size: var(--notebook-default-font-size);
  font-family: 'Poppins-Regular', serif;
  color: #333;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  scroll-behavior: smooth;
}

input,
button,
select,
textarea {
  font-family: 'Poppins-Regular';
}

:focus:not(:focus-visible) {
  outline: none;
}
